servera: node src/serverA.js
serverb: node src/serverB.js
cleanerb: node src/cleanerB.js
serverc: node src/serverC.js
cleanerc: node src/cleanerC.js
serverd: node src/serverD.js
cleanerd: node src/cleanerD.js
